.modal-page {
  overflow-y: auto;
  height: 100vh;
}
.modal-container {
  width: 800px;
  background-color: white;
  margin: 50px auto;
  opacity: 0;
  animation: fadeIn 0.2s linear forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-head {
  padding: 20px;
  border-bottom: 1.5px solid #f2f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5px;
  transition: 0.2s;
  cursor: pointer;
}
.close-icon:hover {
  background-color: #f6f8fc;
}

.modal-body {
  display: flex;
}
.sidebar {
  width: 30%;
  border: 1px solid #f2f9f9;
}
.menu {
  display: flex;
  align-items: center;
  margin: 30px 0 35px;
  gap: 10px;
  padding-left: 20px;
  font-size: 15px;
}
.circle-no {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #e0eae9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 14px;
}
#active {
  background-color: #204e4c;
  color: white;
}
.active-text {
  font-weight: 500;
  color: #204e4c;
}
.inactive-text {
  color: #97aaaa;
}
.modal-footer {
  width: 100%;
  padding: 25px 20px;
  box-shadow: 0 -4px 8px 0 #e5eceb80;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 15px;
  background-color: white;
  position: relative;
}
.modal-footer p {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15.5px;
  font-weight: 500;
}
.modal-footer button {
  width: fit-content;
  padding: 10px 15px;
  font-size: 14.5px;
  border-radius: 10px;
  background-color: #204e4c;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
.modal-footer button.discard-btn {
  border: 1px solid #c8d1d0;
  color: #000;
  background-color: white;
}
.content {
  padding: 30px;
  width: 70%;
  /* Stop modal from getting too long */
  max-height: 70vh;
  overflow-y: auto;
}
.group {
  margin-bottom: 20px;
  font-size: 15px;
  /* background-color: red; */
  width: 100%;
}
.group > p {
  margin-bottom: 15px;
}
.language {
  border: 1px solid #eceded;
  padding: 7px 15px;
  border-radius: 5px;
  width: fit-content;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.active-language {
  border: 1px solid #eceded;
  color: #4a4459;
  background-color: #a8ebe8;
  padding: 7px 15px;
  border-radius: 5px;
  width: fit-content;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.group input,
.group select,
.group textarea {
  padding: 11px 20px;
  border-radius: 7px;
  border: 1.5px solid #eceded;
  width: 45%;
  display: inline-block;
  appearance: none;
  font-size: 15px;
  font-family: "Aeonik";
  outline: none;
  resize: none;
}
.group input:focus,
.group select:focus,
.group textarea:focus {
  border: 1.5px solid #204e4c;
}
.attach,
.allow {
  font-size: 14.5px;
  margin: 5px 0 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.toggle-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  background-color: #204e4c;
  width: 52px;
  height: 28px;
  border-radius: 30px;
  padding: 0 3px;
}

.toggle-circle {
  background-color: #e0eae9;
  width: 23px;
  height: 23px;
  border-radius: 50%;
}
.add {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
}
.link {
  display: flex;
  font-size: 14px;
  background-color: #f0f9f8;
  color: #0f1419;
  padding: 15px;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  border-radius: 5px;
}

.link p {
  font-weight: 500;
  width: 70%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.link span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #204e4c;
  font-weight: 500;
  cursor: pointer;
}
.group span {
  color: #414141;
  font-size: 14px;
}

.title {
  margin-bottom: 15px;
  font-weight: bold;
}

.testcase .group {
  padding-left: 10px;
}

.flags {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.flag {
  display: flex;
  align-items: center;
  gap: 5px;
}
.flag input[type="number"] {
  margin-left: 10px;
  padding: 11px 20px;
  border-radius: 7px;
  border: 1.5px solid #eceded;
  width: 45%;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 15px;
  font-family: "Aeonik";
}
